# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.vscode
.env

# Build ui artifacts
app/src/main/resources/static/ui

.DS_Store

.project 
.settings
.classpath

