/* Google Font SourceSansPro */

@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/SourceSansPro-Bold.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro-Bold.woff') format('woff');
  font-display: swap;
}

* {
  font-family: "SourceSansPro", sans-serif;
}


:root {
  --scrollbar-width: 8px;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover: #555;
  --scrollbar-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-track-color: #9a9797;
    --scrollbar-thumb-color: #373535;
    --scrollbar-thumb-hover: #959292;
  }
}

/* Apply to all scrollable elements */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
