/* Google Font SourceSansPro */

@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/SourceSansPro-Bold.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro-Bold.woff') format('woff');
  font-display: swap;
}

* {
  font-family: "SourceSansPro", sans-serif;
}
